In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import randn

In [4]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [6]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [7]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [9]:
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [10]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [11]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -2.139300 -0.086502 -1.818246  0.545573  2.690218
B -1.247574 -1.582042 -1.007932  0.574008 -1.147424
D  0.472679  1.691711 -1.825475  0.168140 -0.530009
E -2.082624 -0.585465 -0.902916 -0.871950 -2.205043
F  1.333361  0.979235 -1.973725 -1.313685  0.702539

In [12]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [13]:
dframe2

       col1      col2      col3      col4      col5
A -2.139300 -0.086502 -1.818246  0.545573  2.690218
B -1.247574 -1.582042 -1.007932  0.574008 -1.147424
C       NaN       NaN       NaN       NaN       NaN
D  0.472679  1.691711 -1.825475  0.168140 -0.530009
E -2.082624 -0.585465 -0.902916 -0.871950 -2.205043
F  1.333361  0.979235 -1.973725 -1.313685  0.702539

In [14]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [15]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -2.139300 -0.086502 -1.818246  0.545573  2.690218   NaN
B -1.247574 -1.582042 -1.007932  0.574008 -1.147424   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.472679  1.691711 -1.825475  0.168140 -0.530009   NaN
E -2.082624 -0.585465 -0.902916 -0.871950 -2.205043   NaN
F  1.333361  0.979235 -1.973725 -1.313685  0.702539   NaN

In [16]:
dframe

       col1      col2      col3      col4      col5
A -2.139300 -0.086502 -1.818246  0.545573  2.690218
B -1.247574 -1.582042 -1.007932  0.574008 -1.147424
D  0.472679  1.691711 -1.825475  0.168140 -0.530009
E -2.082624 -0.585465 -0.902916 -0.871950 -2.205043
F  1.333361  0.979235 -1.973725 -1.313685  0.702539

In [18]:
# .ix allows you to reindex all at once instead of separately, with .reindex

dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A -2.139300 -0.086502 -1.818246  0.545573  2.690218   NaN
B -1.247574 -1.582042 -1.007932  0.574008 -1.147424   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.472679  1.691711 -1.825475  0.168140 -0.530009   NaN
E -2.082624 -0.585465 -0.902916 -0.871950 -2.205043   NaN
F  1.333361  0.979235 -1.973725 -1.313685  0.702539   NaN